@keyframes wiggle {
    0%{transform: translate(2px, 2px) rotate(0deg);}
	10%{transform: translate(-2px, -2px) rotate(2deg);}
	20%{transform: translate(-4px, 2px) rotate(-2deg);}
	30%{transform: translate(2px, 4px) rotate(0deg);}
	40%{transform: translate(-2px, 2px) rotate(2deg);}
	50%{transform: translate(2px, -2px) rotate(-4deg);}
	60%{transform: translate(4px, 2px) rotate(2deg);}
	70%{transform: translate(-2px, 4px) rotate(4deg);}
	80%{transform: translate(4px, -2px) rotate(2deg);}
	90%{transform: translate(-2px, 4px) rotate(0deg);}
	100%{transform: translate(4px, 2px) rotate(-2deg);}
}

img.im:active {
  display: inline-block;
  animation: wiggle 1.0s infinite;
}

img.im{
  animation: none;
}
